{% extends "base.html" %}

{% block title %} Retirement Calculator {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        /* Custom background color for the form container */
        .form-container {
            background-color: #f7f7f7;
            padding: 20px;
            border-radius: 10px;
        }

        /* Custom style for the result section */
        .result-section {
            background: linear-gradient(to bottom right, #FF8C00, #FF4500);
            border-radius: 10px;
            padding: 20px;
            color: white;
        }
    </style>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 130vh;">
        <div class="form-container">
            <h1 class="text-center mb-4"> Calculators</h1>
            
            <!-- Result Section -->
            <div class="result-section mt-4">
                <div class="row">

                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="https://onedrive.live.com/view.aspx?resid=60C3A905CA5D1182!188&ithint=file%2cxlsx&allowtyping=1&authkey=!APD5OduziKwKZUs"           
                        >Retirement Calculator</a> </h3>
                     
                    </div>
                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" 
                        href="https://onedrive.live.com/view.aspx?resid=60C3A905CA5D1182!189&ithint=file%2cxlsx&allowtyping=1&authkey=!ALJj4VIdRRUtAqE"
                            > Investment Calculator</a> </h3>
                        
                    </div>
                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="https://onedrive.live.com/view.aspx?action=view&resid=60C3A905CA5D1182!186&ithint=file%2cxlsx&action=view&allowtyping=1&authkey=!ABqfB9QkkTqaL6Y"
                             >EMI Calculator</a> </h3>
                    </div>
                </div>
                
            </div>
            <!-- Result Section -->
            <div class="result-section mt-4">
                <div class="row">

                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="https://onedrive.live.com/view.aspx?resid=60C3A905CA5D1182!190&ithint=file%2cxlsx&allowtyping=1&authkey=!ADYZ3WVIKgiCP8w"
                            >Payoff vs Invest Calculator</a> </h3>
                    </div>
                    <div class="col-md-4">
                        <h4><a class="nav-link" target="_blank" href="https://onedrive.live.com/view.aspx?resid=60C3A905CA5D1182!187&ithint=file%2cxlsx&allowtyping=1&authkey=!AChAX_PNzRH2Zqs">
                            Buy or Rent home Calculator</a> </h4>
                    </div>
                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="#">Child Education Calculator</a> </h3>                  
                    </div>
                </div>
                
            </div>
<!-- Result Section -->
            <div class="result-section mt-4">
                <div class="row">

                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="#">Child Marriage Calculator</a> </h3>                  
                    </div>
                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="#"> Vehicle Calculator</a> </h3>                  
                    </div>
                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="#">Net Worth Calculator</a> </h3>                  
                    </div>
                </div>
                
            </div>

             <!-- Result Section -->
            <div class="result-section mt-4">
                <div class="row">

                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="#">CAGR Calculator</a> </h3>                  
                    </div>
                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="#">Child Education Calculator</a> </h3>                  
                    </div>
                    <div class="col-md-4">
                        <h3><a class="nav-link" target="_blank" href="#">After Retirement Calculator</a> </h3>                  
                    </div>
                </div>
                
            </div>

        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}   {% endblock javascripts %}